%h2  
  = "#{@notes.count} log entries total" 

%a.btn{ href:"/add/entry" } Add new entry
%table.table
  %thead
    %tr
      %th Created
      %th Content
      %th Type
      %th For task
  %tbody
    - @notes.each do |note|
      %tr
        %td #{note.date_performed.strftime("%Y/%m/%d")}
        %td #{note.content}
        %td #{note.work_type.name}
        %td #{note.work_to_do.name}

    

